### all ignore ###
/*
/.**

### not ignore ###
!/.bin/
!/.bin/**
!/.bin.local

!/.bashrc

!/.zshrc
!/.zshenv
!/.zsh/
!/.zsh/dircolors
!/.zsh/rc/
!/.zsh/rc/**

!/README.md
!.gitconfig
!.gitignore
!.gitkeep