shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.zeno]
github = 'yuki-yano/zeno.zsh'
use = ['zeno.zsh']
hooks.pre = 'zsh-defer source $ZDOTDIR/conf.d/zeno/atinit.zsh'
hooks.post = 'zsh-defer source $ZDOTDIR/conf.d/zeno/atload.zsh'
apply = ["defer"]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ['{{ name }}.zsh']
apply = ["defer"]

[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]

[plugins.bd]
github = 'Tarrasch/zsh-bd'
use = ['bd.zsh']
apply = ["defer"]
