*

# white list
!bash
!bash/*
!git
!git/*
!lazydocker
!lazydocker/*
!npm
!npm*
!nvim
!nvim/*
!powershell
!powershell/*
!sheldon
!sheldon/*
!tmux
!tmux/*
!windows-terminal
!windows-terminal/*
!zeno
!zeno/*
!zsh
!zsh/*
!.gitkeep
!.gitignore
!starship.toml